body {background-color: #ddd; font-family: sans-serif}
.grid td {margin: 0; padding: 0}

.label {background-color: #afa; text-align: center; padding: 4px 10px; font-weight: bold}
.label.correct {background-color: #afa;}
.label.incorrect {background-color: #faa;}
